---
import Layout from '../../../layouts/Layout.astro';
import SideBar from '../../../components/SideBar.astro';
import Breadcrumb from '../../../components/Breadcrumb.astro';
import DatesCard from '../../../components/DatesCard.astro';
import ResponsibleCard from '../../../components/ResponsibleCard.astro';
import StateComponent from '../../../components/StateComponent.astro';


import { getUser } from '../../../lib/auth';
import DeleteModal from '../../../components/DeleteModal.astro';
const url = "http://127.0.0.1:8000";
let cid = await getUser();
if(cid == null){
  return Astro.redirect('/');
}

let data;
//const idPPPO = params.get("idPPPO");

const idPPPO = Astro.url.searchParams.get("idPPPO");

async function fetchPPPOs() {
    try {
        const response = await fetch(`${url}/PPPOs/${idPPPO}`);
        if (response.ok) {
            data = await response.json();
        } else {
            throw new Error('Error al obtener portfolios');
        }
    } catch (error) {
        console.error(error);
    }
}


await fetchPPPOs();



---
<div class="flex">
    <div class="w-1/5 h-full fixed inset-y-0 left-0 min-w-10">
        <SideBar />
    </div>
    <div class="w-4/5 h-full ml-64 flex flex-col justify-center items-center">
        <nav class="w-full">
            <Breadcrumb idPPPO={idPPPO} />
          </nav>
        <br>
        <br>
        
        <div class="grid grid-cols-1 grid-rows-1 md:grid-cols-3">
            <div
              class="me-4 block rounded-lg bg-white shadow-secondary-1 dark:bg-surface-dark dark:text-white text-surface md:col-span-2">
              <div class="p-6">
                <h5
                  class="mb-2 text-xl font-medium leading-tight">
                  {data.title}<StateComponent state={data.state} />
                </h5>
                
                <p class="mb-4 text-base">
                    Code:
                    <a class=" text-blue-600 hover:underline" href=`/Company/PPPO/Sons?parentId=${data.idPPPO}`>
                        {data.code}
                    </a>
                    
                </p>
                <p class="mb-4 text-base">
                    Risk: (Iconos?)
                     {data.risk}
                </p>
                <p class="mb-4 text-base">
                    Priority:
                     {data.priority}
                </p>
                <p class="mb-4 text-base">
                Description:
                 {data.description}
                </p>
                <p class="mb-4 text-base">
                    Strategic Goal:
                     {data.strategic_goal}
                </p>
                <p class="mb-4 text-base">
                    <a class="hover:shadow-form w-full rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none" href={`/Company/PPPO/Form?parentId=${data.parent_id}&update=${data.idPPPO}`}>Update</a>
                </p>
                <p class="mb-4 text-base">
                    <DeleteModal idPPPO={idPPPO} />
                </p>
                
              </div>
            </div>
          
            <div
              class="block rounded-lg bg-white shadow-secondary-1 dark:bg-surface-dark dark:text-white text-surface md:col-span-1">
              <DatesCard sd={data.start_date} srd={data.start_real_date} fd={data.finish_date} frd={data.finish_real_date}  />
              <ResponsibleCard internal={data.internal_manager} external={data.external_manager} />
            </div>
          </div>
    </div>
</div>
