---
import SideBar from '../components/SideBar.astro';
import { getUser } from '../lib/auth';
import { getPPPOsByIds, getPersonById } from '../lib/lib';


const url = "http://127.0.0.1:8000";

let cid = await getUser();
let companyId: any;
if(cid == null){
  return Astro.redirect('/');
}else{
  companyId = cid.company;
}
let person;
const idPerson = Astro.url.searchParams.get("idPerson");
let data_external,data_internal;
console.log("Persona");
console.log(idPerson);
if(idPerson != null){
    person = await getPersonById(idPerson);
    console.log(person?.pppo_external);
    data_external = await getPPPOsByIds(person.pppo_external); // Inicializar como un array vacío
    console.log(data_external);
    data_internal = await getPPPOsByIds(person.pppo_internal); // Inicializar como un array vacío
}





---


<div class="flex">
    <div class="w-1/5 h-full fixed inset-y-0 left-0 min-w-10">
        <SideBar />
    </div>
    
   
    <div class="w-4/5 h-full ml-64 overflow-auto">
        <div class="flex text-center justify-center items-center">
            <a class="m-5">
                DNI: {person?.DNI}
            </a>
            <a class="m-5">
                Full Name: {person?.name}
            </a>
            <a class="m-5">
                Email: {person?.email}
            </a>
        </div>
        
        <div class="flex text-center justify-center m-5">   
            <table class="">
                <thead>
                    <tr>
                        <th class="p-2" colspan="4">Internal Manager</th>
                    </tr>
                </thead>
              <thead>
                  <tr>
                      <th class="border p-2">Type</th>
                      <th class="border p-2">Title</th>
                      <th class="border p-2">Code</th>
                      <th class="border p-2">Strategic Goal</th>
                      
                  </tr>
              </thead>
              <tbody>
                  {
                  data_internal && data_internal.map((portfolio) => (
                      <tr >
                          <td class="border p-2">
                            Portfolio
                            </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO?idPPPO=${portfolio.idPPPO}`}>{portfolio.title}</a>
                            
                            </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO/Sons?parentId=${portfolio.idPPPO}&filter=true`}>{portfolio.code}</a>
                            
                            </td>
                          <td class="border p-2">{portfolio.strategic_goal}</td>              
                      </tr>
                  ))
                }
              </tbody>
          </table>
          </div>
        <div class="flex text-center justify-center m-5">
            <table class="">
            <thead>
                <tr>
                    <th class="p-2" colspan="4">External Manager</th>
                </tr>
            </thead>
              <thead>
                  <tr>
                      <th class="border p-2">Type</th>
                      <th class="border p-2">Title</th>
                      <th class="border p-2">Code</th>
                      <th class="border p-2">Strategic Goal</th>
                      
                  </tr>
              </thead>
              <tbody>
                  {
                  data_external && data_external.map((portfolio) => (
                      <tr >
                          <td class="border p-2">
                            Portfolio
                            </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO?idPPPO=${portfolio.idPPPO}`}>{portfolio.title}</a>
                            
                            </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO/Sons?parentId=${portfolio.idPPPO}&filter=true`}>{portfolio.code}</a>
                            
                            </td>
                          <td class="border p-2">{portfolio.strategic_goal}</td>              
                      </tr>
                  ))
                }
              </tbody>
          </table>
          </div>
          
    </div>
</div>