---
import SideBar from '../components/SideBar.astro';
import { getUser } from '../lib/auth';
import { getCompanyById, getPPPOsByIds, getPersonById } from '../lib/lib';


let cid = await getUser();
let companyId: any;
if(cid == null){
  return Astro.redirect('/');
}else{
  companyId = cid.company;
}

let person;
const idPerson = Astro.url.searchParams.get("idPerson");
let data_external,data_internal;
console.log("Persona");
console.log(idPerson);
let company;
if(idPerson != null){
    person = await getPersonById(idPerson);
    console.log("External: ");
    console.log(person?.pppo_external);
    data_external = await getPPPOsByIds(person.pppo_external); // Inicializar como un array vacío
    console.log("Internal: ");
    console.log(person?.pppo_internal);
    data_internal = await getPPPOsByIds(person.pppo_internal); // Inicializar como un array vacío

    company = await getCompanyById(person?.company);
  }



---


<div class="flex">
    <div class="w-1/5 h-full fixed inset-y-0 left-0 min-w-10">
        <SideBar />
    </div>
    
   
    <div class="w-4/5 h-full ml-64 overflow-auto">
      <div class="flex justify-center items-center">

        <table class="table-auto border mt-5 m-1">
           <thead>
            <tr>
                <th class="border p-2">Company Information</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-4 py-2 ">Name: {company?.name}</td>
                </tr>
                <tr>
                    <td class="px-4 py-2">Code: {company?.code}</td>
                </tr>
            </tbody>      
        </table>
        <table class="table-auto border mt-5 m-1">
          <thead>
            <tr>
                <th class="border p-2">User Information</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                  <td class="px-4 py-2">Full Name: {person?.name}</td>
              </tr>
              <tr>
                  <td class="px-4 py-2">Email: {person?.email}</td>
              </tr>
          </tbody>
        </table>
    </div>
        
        <div class="flex text-center justify-center m-5">   
            <table class="">
                <thead>
                    <tr>
                        <th class="p-2" colspan="4">Internal Manager</th>
                    </tr>
                </thead>
              <thead>
                  <tr>
                      <th class="border p-2">Type</th>
                      <th class="border p-2">Title</th>
                      <th class="border p-2">Code</th>
                      <th class="border p-2">Strategic Goal</th>
                      
                  </tr>
              </thead>
              <tbody>
                  {
                  data_internal && data_internal.map((portfolio) => (
                      <tr >
                          <td class="border p-2">
                            {portfolio.PPPO === 0 ? "Portfolio" : 
                            portfolio.PPPO === 1 ? "Program" :
                            portfolio.PPPO === 2 ? "Project" :
                            "Operation"}
                      </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO?idPPPO=${portfolio.idPPPO}`}>{portfolio.title}</a>
                            
                            </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO/Sons?parentId=${portfolio.idPPPO}&filter=true`}>{portfolio.code}</a>
                            
                            </td>
                          <td class="border p-2">{portfolio.strategic_goal}</td>              
                      </tr>
                  ))
                }
              </tbody>
          </table>
          </div>
        <div class="flex text-center justify-center m-5">
            <table class="">
            <thead>
                <tr>
                    <th class="p-2" colspan="4">External Manager</th>
                </tr>
            </thead>
              <thead>
                  <tr>
                      <th class="border p-2">Type</th>
                      <th class="border p-2">Title</th>
                      <th class="border p-2">Code</th>
                      <th class="border p-2">Strategic Goal</th>
                      
                  </tr>
              </thead>
              <tbody>
                  {
                  data_external && data_external.map((portfolio) => (
                      <tr >
                          <td class="border p-2">
                            {portfolio.PPPO === 0 ? "Portfolio" : 
                            portfolio.PPPO === 1 ? "Program" :
                            portfolio.PPPO === 2 ? "Project" :
                            "Operation"}
                          </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO?idPPPO=${portfolio.idPPPO}`}>{portfolio.title}</a>
                            
                            </td>
                          <td class="border p-2 text-blue-600 hover:underline">
                            <a href={`/Company/PPPO/Sons?parentId=${portfolio.idPPPO}&filter=true`}>{portfolio.code}</a>
                            
                            </td>
                          <td class="border p-2">{portfolio.strategic_goal}</td>              
                      </tr>
                  ))
                }
              </tbody>
          </table>
          </div>
          
    </div>
</div>